<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
</head>
<body>
<nav>
    <a href="/blog/">목록으로 가기</a>
</nav>

<h1>{{post.title}}</h1>
<hr/>
{%if post.head_image %}
<img src="{{post.head_image.url}}" alt="{{p}} head image">
{%endif %}
<p>{{post.content}}</p>
<p>글쓴 시간 : {{post.created_at}}</p>
{% if post.file_upload %}
    {% if post.get_file_ext == 'xlsx' %}
        <span style="color: #2fff00; ">xlsx아이콘</span>
<a href = "{{post.file_upload.url}}" class="btn btn-outline-dark" role="button" download>Download</a>
{% else %}
<p>첨부파일 : 없음</p>
{% endif %}
{% endif %}
<hr/>

</body>
</html>