<!DOCTYPE html>

{% load socialaccount %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
</head>
<body>
<nav>
    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp; Log in with Google</a>


<button type="button" class="btn btn-outline-dark btn-block btn-sm">
   <i class="far fa-envelope"></i>&nbsp; Log in with E-mail
</button>

<!--    <a href="/blog/">Blog</a>-->
<!--    <a href="/about_me/">About_me</a>-->
<!--    <a href="/todo/">todo</a>-->
</nav>

<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about_me/">About me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/todo/">Todo</a>
    </li>
</ul>
<ul class="navbar-bav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/blog/" id="navbarDropdownMenuLink"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
        </div>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/accounts/login/" data-toggle="model" data-target="#loginModel">Log In</a>
    </li>
    {% endif %}
</ul>

</body>
</html>